a{
    color: black;
    text-decoration: none;
}
button{
    cursor: pointer;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 97%;
    width: 1600px;
    justify-self: center;
}
.header__wrapper{
    display: flex;
    flex-direction: row;
}
.Logo{
    display: flex;
    align-items: center;
    width: auto;
}
.header__button{
    font-size: 12px;
}
.header__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;

}
.header__ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
}
.header__li{

}
.header__li a{

}
.button-up{

}
.up-img{
    display: none;
}
.down-img{

}
.header__input{
    border: none;
    border-bottom: black solid 1px;
    background: url("/Users/yuliiapodlutskaia/module-arc/src/assets/icons/Loup.png");
    background-repeat: no-repeat;
    background-position: right;padding-right: 2em;
}
.burger__menu{
    display: none;
}
.CloseLogo, .BurgerLogo{
    display: none;
}

.header__subtitles-ul {
    display: none;
    opacity: 0;
    transition: 1s;
}
.header__subtitles-ul.active {
    display: block;
    opacity: 1;
}

@media screen and (min-width: 1600px) {

    header{

    }
    .header__wrapper{

    }
    .Logo{

    }
    .header__nav{


    }
    .header__ul{

    }
    .header__li{

    }
    .header__li a{

    }
    .button-up{

    }
    .up-img{

    }
    .down-img{

    }
    .header__input{

    }

}

@media screen and (max-width: 1600px) {

    header{

    }
    .header__wrapper{

    }
    .Logo{

    }
    .header__nav{


    }
    .header__ul{

    }
    .header__li{

    }
    .header__li a{

    }
    .button-up{

    }
    .up-img,.down-img{

    }
    .up-img{

    }
    .down-img{

    }
    .header__input{

    }
}

@media screen and (max-width: 1200px) {

    header{

    }
    .header__wrapper{

    }
    .Logo{

    }
    .header__nav{


    }
    .header__ul{

    }
    .header__li{

    }
    .header__li a{
        font-size: 12px;
    }
    .button-up{

    }
    .up-img{

    }
    .down-img{

    }
    .header__input{

    }
}
@media screen and (max-width: 992px) {

    header{

    }
    .header__wrapper{

    }
    .Logo{

    }
    .header__nav{


    }
    .header__ul{

    }
    .header__li{

    }
    .header__li a{
        font-size: 10px;
    }
    .button-up{

    }
    .up-img,.down-img{
        width: 11px;
    }
    .up-img{

    }
    .down-img{

    }
    .header__input{
        font-size: 11px;
    }
}
@media screen and (max-width: 768px) {

    header{

    }
    .header__wrapper{

    }
    .Logo{

    }
    .header__nav{


    }
    .header__ul{

    }
    .header__li{
        display: none;
    }
    .header__li a{

    }
    .button-up{

    }
    .up-img{

    }
    .down-img{

    }
    .header__input{
        display: flex;
        padding-right: 2em;
    }
    .input{
        display: flex;
        width: 25dvh;
    }
    .burger__menu{
        display: flex;
        align-items: center;
        /*position: relative;*/
    }

     .BurgerLogo{
        display: flex;
        align-items: center;

    }
     .CloseLogo{
         flex-direction: column;
         /*position: absolute;*/
         align-self: center;
         margin: 0 -2em;

     }
     .CloseLogo>img{
         height: 30px;
         width: 30px;
         padding: 1em 0;
         z-index: 10;
     }
     .BurgerItems{
         height: 100dvh;
         display: flex;
         align-items: center;
         justify-content: center;
         justify-self: center;
         position: absolute;
         text-align: center;
         left: 0;
         background: #606169;
         width: 100%;
     }
     .BurgerItems-li{
         padding: 0.5em 0;
         transition: 0.5s;
     }

     .BurgerItems-li:hover{
         opacity: 0.3;
         border-bottom: solid 2px black;
     }
}
@media screen and (max-width: 576px) {

    header{

    }
    .header__wrapper{

    }
    .Logo{

    }
    .header__nav{


    }
    .header__ul{

    }
    .header__li{

    }
    .header__li a{

    }
    .button-up{

    }
    .up-img{

    }
    .down-img{

    }
    .header__input{

    }
}
